.mdpOublierContainer {
  padding-right: 20px;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/bublesBackground.png");
  background-position-x: center;
  background-size: auto 800px;
  background-repeat: no-repeat;
  padding: 1 auto;
}
.mdpOublier {
  border: 1px solid #707070;
  border-radius: 28px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  max-width: 521px;
  height: 540px;
  margin: auto;
  background-color: white;
}
.mdpOublierlogo {
  width: 120px;
  height: 112px;
}
.mdpOublierh1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.mdpOublierP {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.mdpOublierBtn {
  display: inline-block;
  color: white;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  background: transparent linear-gradient(270deg, #1de8b8 0%, #1dc5e7 100%) 0%
    0% no-repeat padding-box;
  border-radius: 21px;
  border-color: transparent;
  width: 80%;
  height: 70px;
  margin-top: 0.45rem;
}
.mdpOublierbtnAnuuler {
  background-color: white;
  color: rgb(67, 184, 237);
  border-radius: 21px;
  border-color: rgb(67, 184, 237);
  width: 30%;
  height: 50px;
  margin-top: 1rem;
}
.mdpOublierEmail {
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  opacity: 1;
  width: 90%;
  margin: 1rem;
  height: 10%;
  padding: 10px;
}
.sign-switch-contianer {
  position: absolute;
  right: 2rem;
  top: 1.85rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1de8b8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1dc5e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1dc5e7;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.fa-sun-o:before {
  position: absolute;
  right: 4.5px;
  top: 5px;
  z-index: 1;
  color: #1dc5e7;
  cursor: pointer;
  font-size: 24px;
}
.fa-moon-o:before {
  content: "\f186";
  position: absolute;
  z-index: 1;
  font-size: 24px;
  top: 5px;
  left: 4.5px;
  color: #1dc5e7;
  cursor: pointer;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.divAllForm {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.theRestDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dark-mode {
  background-color: #202224;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.dark-mode p {
  color: white;
}
.dark-mode div {
  background-color: black;
}
.dark-mode form {
  background-color: black;
}
.dark-mode h1 {
  color: white;
}
.dark-mode .mdpOublierbtnAnuuler {
  background-color: rgb(67, 184, 237);
  color: white;
  border-color: transparent;
}

.fa-sun-o{
  position: absolute;
  right: 4.5px;
  top: 5px;
  z-index: 1;
  color: #1DC5E7  ;
  cursor: pointer;
  font-size: 24px;
}
.fa-moon-o {
  content: "\f186";
  position: absolute;
  z-index: 1;
  font-size: 24px;
  top: 5px;
  left: 4.5px;
  color: #1DC5E7;
  cursor: pointer;
}
.email-place {
  position: relative;
  width: 100%;
  
}
.email-icon{
font-size: 26px;
position: absolute;
right: 20px;
top: 15px;
}
@media only screen and (max-width: 500px) {
  .mdpOublier {
    margin: auto 7px;
    height: 600px;
  }
  .mdpOublierEmail {
    width: 90%;
    margin-left: -2px;
  }
  .mdpOublierBtn {
    font-size: 15px;
    height: 90px;
    width: 90%;
  }
  .mdpOublierbtnAnuuler {
    width: 90%;
  }
  .mdpOublierP {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }
  .mdpOublierlogo {
    width: 70px;
    height: 70px;
  }
  .mdpOublierh1 {
    font-size: 20px;
  }
  .sign-switch-contianer {
    top: 0px;
    right: 10px;
  }
  .email-icon{
    font-size: 20px;
    right: 15px;
    top: 20px;
    }
}